table.cd_render_table {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #18181b;
    background-color: #242429;
    width: 100%;
    height: 200px;
    border-collapse: collapse;
  }
  
  table.cd_render_table td,
  table.cd_render_table th {
    border: 1px solid #3b3b44;
    padding: 1em;
    text-align: center;
  }
  
  table.cd_render_table tbody td {
    font-size: 13px;
    color: #e6e6e6;
    text-align: left;
  }
  
  table.cd_render_table tr:nth-child(even) {
    background: #2f2f37;
  }
  
  table.cd_render_table thead {
    background: #000000;
  }
  
  table.cd_render_table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #e6e6e6;
    text-align: center;
    border-left: 2px solid #4a4a4a;
  }
  
  table.cd_render_table thead th:first-child {
    border-left: none;
  }
  
  table.cd_render_table tfoot td {
    font-size: 12px;
  }
  
  cd_custom#cd_render_grid_container {
    width: calc(100vw - 2em);
    background: #40404880;
    bottom: 0;
    left: 0px;
    position: absolute;
    padding: 1em;
    display: grid;
    grid-template-columns: calc(100% / 5 - 2em / 5);
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . . . .";
  }
  
  cd_custom#cd_render_grid_container * {
    padding: 1em;
    text-align: center;
  }
  
  cd_custom#cd_render_grid_container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  input.cd_render_input {
    border-radius: 0.25em;
    -webkit-box-shadow: 0px 0px 5px 0px #000000,
      inset 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px #000000,
      inset 0px 0px 50px 0px rgba(255, 255, 255, 0.1);
      -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
  }
  input.cd_render_input:focus  {
    border:solid white 1px;
    outline: none;
}
  input.cd_btn_passive_clr {
    color: white;
    background-color: hsl(200deg 75% 25%);
    border: 1px hsl(200deg 75% 35%) solid;
  }
  input.cd_btn_active_clr {
    color: white;
    background-color: hsl(120deg 75% 25%);
    border: 1px hsl(120deg 75% 35%) solid;
  }
  input.cd_btn_inactive_clr {
    color: white;
    background-color: hsl(0deg 75% 25%);
    border: 1px hsl(0deg 75% 35%) solid;
  }
  input.cd_btn_fill{
    width: 100%;
    padding: .5em;
    text-align: center;
    font-weight: 700;
  }